<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./static/logo-via-logohub.png" width="300" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark bg-light" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark bg-light" href="/game">Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark bg-light" href="/high-scores">High Scores</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="navbarsExampleDefault">
      {% if session.logged_in %}
      <a class="nav-link text-dark bg-light" href="/logout">Logout</a>
      <a class="nav-link text-dark bg-light" href="/dashboard  ">Account</a>
      {% else %}
      <a class="nav-link text-dark bg-light" href="/register">Register</a>
      <a class="nav-link text-dark bg-light" href="/login">Login</a>
      {% endif %}

    </form>
  </div>
</nav>
