{% extends 'layout.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-center">
        <h3></h3>
        <img src={{data[2]}} id="player_pic" class="rounded mx-auto d-block" style="border: #00008B 4p">
      </div>
      <div class="col-sm-5 text-center">
        <br><br>
        <h3>Streak: {{session.streak}}</h3>
        <br><br>
        <button class="btn btn-light" name="button" onclick=toggle_display()>Get hint</button>
        <br><br><br>
        <form class="form" id="form" method="POST" action="/game">
          <div class="input-group mb-3">
            <input type="text" name="name" class="form-control" placeholder="Guess name here!" aria-label="Guess name here" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-light" value="submit" type="submit">Guess</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="hint1" style="visibility: hidden;">
        <h5>
             <li>{{data[3]}}</li>
        </h5>
        <div class="hint2" style="visibility: hidden;">
        <h5>
            <li>{{data[4]}}</li>

        </h5>
        <div class="hint3" style="visibility: hidden;">
          <h5>
            <li>{{data[5]}}</li>

          </h5>
      </div>

    </div>
  </div>
{% endblock %}
