{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Welcome to NBA Face Guesser</h1>
  {% if session.logged_in == NULL %}
    <p> Please login or register to get started</p> 
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/login" class="btn btn-primary">Login</a>
  {% else %}
    <a href="/game" class="btn btn-primary">Play the game</a>
    <a href="/high-scores" class="btn btn-primary">Check out the high-scores</a>
  {% endif %}

</div>
{% endblock %}
